services:
  postgres:
    build:
      context: .
      dockerfile: ./database/Dockerfile
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U trans"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - api-gateway
  service-auth:
    build:
      context: .
      dockerfile: ./backend/service-auth/Dockerfile
    ports:
      - "4001:4001"
    env_file:
      - .env
    volumes:
      - ./shared:/app/shared
    depends_on:
      postgres:
        condition: service_healthy

  service-chat:
    build:
      context: .
      dockerfile: ./backend/service-chat/Dockerfile
    ports:
      - "4002:4002"
    env_file:
      - .env
    volumes:
      - ./shared:/app/shared
    depends_on:
      postgres:
        condition: service_healthy

  service-game:
    build:
      context: .
      dockerfile: ./backend/service-game/Dockerfile
    ports:
      - "4003:4003"
    env_file:
      - .env
    volumes:
      - ./shared:/app/shared
    depends_on:
      postgres:
        condition: service_healthy

  service-user:
    build:
      context: .
      dockerfile: ./backend/service-user/Dockerfile
    ports:
      - "4004:4004"
    env_file:
      - .env
    volumes:
      - ./shared:/app/shared
    depends_on:
      postgres:
        condition: service_healthy

  api-gateway:
    build:
      context: .
      dockerfile: ./backend/api-gateway/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./shared:/app/shared
    depends_on:
      - service-auth
      - service-user
      - service-chat
      - service-game

volumes:
  postgres_data:
